{
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "printWidth": 80,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
