@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King|Source+Code+Pro');


@font-face {
    font-family: 'DINNextRoundedLTPro';
    font-style: normal;
    font-weight: 300;
    src: url('DINNEXTLTPro/DINNextRoundedLTPro-Light.eot');
    src: local('DINNextRoundedLTPro-Light'), local('DINNEXTLTPro/DINNextRoundedLTPro-Light'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Light.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Light.woff') format('woff'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextRoundedLTPro';
    font-style: normal;
    font-weight: 400;
    src: url('DINNEXTLTPro/DINNextRoundedLTPro-Regular.eot');
    src: local('DINNextRoundedLTPro-Regular'), local('DINNEXTLTPro/DINNextRoundedLTPro-Regular'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Regular.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Regular.woff') format('woff'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextRoundedLTPro';
    font-style: normal;
    font-weight: 400;
    src: url('DINNEXTLTPro/DINNextRoundedLTPro-Medium.eot');
    src: local('DINNextRoundedLTPro-Medium'), local('DINNEXTLTPro/DINNextRoundedLTPro-Medium'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Medium.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Medium.woff') format('woff'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextRoundedLTPro';
    font-style: normal;
    font-weight: 400;
    src: url('DINNEXTLTPro/DINNextRoundedLTPro-Bold.eot');
    src: local('DINNextRoundedLTPro-Bold'), local('DINNEXTLTPro/DINNextRoundedLTPro-Bold'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Bold.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Bold.woff') format('woff'),
        url('DINNEXTLTPro/DINNextRoundedLTPro-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'DINNextLTPro';
    font-style: normal;
    font-weight: 200;
    src: url('DINNEXTLTPro/DINNextRoundedLTPro-UltraLight.eot');
    src: local('DINNextLTPro-UltraLight'), local('DINNEXTLTPro/DINNextLTPro-UltraLight'),
        url('DINNEXTLTPro/DINNextLTPro-UltraLight.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextLTPro-UltraLight.woff') format('woff'),
        url('DINNEXTLTPro/DINNextLTPro-UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextLTPro';
    font-style: normal;
    font-weight: 300;
    src: url('DINNEXTLTPro/DINNextRoundedLTPro-Light.eot');
    src: local('DINNextLTPro-Light'), local('DINNEXTLTPro/DINNextLTPro-Light'),
        url('DINNEXTLTPro/DINNextLTPro-Light.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextLTPro-Light.woff') format('woff'),
        url('DINNEXTLTPro/DINNextLTPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextLTPro';
    font-style: normal;
    font-weight: 400;
    src: url('DINNEXTLTPro/DINNextLTPro-Regular.eot');
    src: local('DINNextLTPro-Regular'), local('DINNEXTLTPro/DINNextLTPro-Regular'),
        url('DINNEXTLTPro/DINNextLTPro-Regular.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextLTPro-Regular.woff') format('woff'),
        url('DINNEXTLTPro/DINNextLTPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextLTPro';
    font-style: normal;
    font-weight: 500;
    src: url('DINNEXTLTPro/DINNextLTPro-Medium.eot');
    src: local('DINNextLTPro-Medium'), local('DINNEXTLTPro/DINNextLTPro-Medium'),
        url('DINNEXTLTPro/DINNextLTPro-Medium.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextLTPro-Medium.woff') format('woff'),
        url('DINNEXTLTPro/DINNextLTPro-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextLTPro';
    font-style: normal;
    font-weight: 500;
    src: url('DINNEXTLTPro/DINNextLTPro-Bold.eot');
    src: local('DINNextLTPro-Bold'), local('DINNEXTLTPro/DINNextLTPro-Bold'),
        url('DINNEXTLTPro/DINNextLTPro-Bold.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextLTPro-Bold.woff') format('woff'),
        url('DINNEXTLTPro/DINNextLTPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextLTPro';
    font-style: normal;
    font-weight: 600;
    src: url('DINNEXTLTPro/DINNextLTPro-Black.eot');
    src: local('DINNextLTPro-Black'), local('DINNEXTLTPro/DINNextLTPro-Black'),
        url('DINNEXTLTPro/DINNextLTPro-Black.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextLTPro-Black.woff') format('woff'),
        url('DINNEXTLTPro/DINNextLTPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'DINNextLTPro';
    font-style: normal;
    font-weight: 700;
    src: url('DINNEXTLTPro/DINNextLTPro-Heavy.eot');
    src: local('DINNextLTPro-Heavy'), local('DINNEXTLTPro/DINNextLTPro-Heavy'),
        url('DINNEXTLTPro/DINNextLTPro-Heavy.woff2') format('woff2'),
        url('DINNEXTLTPro/DINNextLTPro-Heavy.woff') format('woff'),
        url('DINNEXTLTPro/DINNextLTPro-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Now';
    font-weight: 100;
    font-style: normal;
    src: local('HelveticaNowText-Thin'), local('HelveticaNow/HelveticaNowText-Thin'),
    url('HelveticaNow/HelveticaNowText-Thin.woff2') format('woff2'),
    url('HelveticaNow/HelveticaNowText-Thin.woff') format('woff'),
    url('HelveticaNow/HelveticaNowText-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Now';
    font-weight: 200;
    font-style: normal;
    src: local('HelveticaNowText-ExtraLight'), local('HelveticaNow/HelveticaNowText-ExtraLight'),
    url('HelveticaNow/HelveticaNowText-ExtraLight.woff2') format('woff2'),
    url('HelveticaNow/HelveticaNowText-ExtraLight.woff') format('woff'),
    url('HelveticaNow/HelveticaNowText-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Now';
    font-weight: 300;
    font-style: normal;
    src: local('HelveticaNowText-Light'), local('HelveticaNow/HelveticaNowText-Light'),
    url('HelveticaNow/HelveticaNowText-Light.woff2') format('woff2'),
    url('HelveticaNow/HelveticaNowText-Light.woff') format('woff'),
    url('HelveticaNow/HelveticaNowText-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Now';
    font-weight: 400;
    font-style: normal;
    src: local('HelveticaNowText-Regular'), local('HelveticaNow/HelveticaNowText-Regular'),
    url('HelveticaNow/HelveticaNowText-Regular.woff2') format('woff2'),
    url('HelveticaNow/HelveticaNowText-Regular.woff') format('woff'),
    url('HelveticaNow/HelveticaNowText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Now';
    font-weight: 500;
    font-style: normal;
    src: local('HelveticaNowText-Medium'), local('HelveticaNow/HelveticaNowText-Medium'),
    url('HelveticaNow/HelveticaNowText-Medium.woff2') format('woff2'),
    url('HelveticaNow/HelveticaNowText-Medium.woff') format('woff'),
    url('HelveticaNow/HelveticaNowText-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Now';
    font-style: normal;
    font-weight: 600;
    src: local('HelveticaNowText-Bold'), local('HelveticaNow/HelveticaNowText-Bold'),
    url('HelveticaNow/HelveticaNowText-Bold.woff2') format('woff2'),
    url('HelveticaNow/HelveticaNowText-Bold.woff') format('woff'),
    url('HelveticaNow/HelveticaNowText-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Now';
    font-style: normal;
    font-weight: 700;
    src: local('HelveticaNowText-Black'), local('HelveticaNow/HelveticaNowText-Black'),
    url('HelveticaNow/HelveticaNowText-Black.woff2') format('woff2'),
    url('HelveticaNow/HelveticaNowText-Black.woff') format('woff'),
    url('HelveticaNow/HelveticaNowText-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Now';
    font-style: normal;
    font-weight: 800;
    src: local('HelveticaNowText-Black'), local('HelveticaNow/HelveticaNowText-Black'),
    url('HelveticaNow/HelveticaNowText-Black.woff2') format('woff2'),
    url('HelveticaNow/HelveticaNowText-Black.woff') format('woff'),
    url('HelveticaNow/HelveticaNowText-Black.ttf') format('truetype');
}
