---
import { getCollection } from 'astro:content';
import { CopyLink } from '@/components/CopyLink';
import BlogLayout from '@/layouts/BlogLayout.astro';
import Prose from '@/components/Prose.astro';

export async function getStaticPaths() {
    const allPosts = await getCollection('posts');
    return allPosts
        .filter((post) => post.data.published)
        .map((post) => ({
            params: { slug: post.slug },
            props: { post },
        }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BlogLayout frontmatter={post.data}>
    <Prose>
        <Content />
    </Prose>
    <div class="flex flex-col gap-2">
        <span class="text-sm">Share</span>
        <div class="w-full border-t border-gray-300 m-0"></div>
        <div class="mt-4">
            <CopyLink client:visible />
        </div>
    </div>
</BlogLayout>
