@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --container-center: true;
    --container-padding: 2rem;
    --container-screens-2xl: 1400px;

    --color-default-light: #f2f0ea;
    --color-spectral-blue: #2082df;

    --font-antonia: "Antonia", var(--default-font-family);
    --font-antonia-body: "AntoniaBody", var(--default-font-family);

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-xs: calc(var(--radius) - 6px);

    /* Animation theme */
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    /* Blog posts theme */
    --prose-font-family: var(--font-antonia-body), var(--default-font-family);
    --prose-heading-font-family: var(--font-antonia), var(--default-font-family);
    --prose-heading-color: #2082df;
    --prose-a-decoration-color: var(--color-vesper-gold);
}

:root {
    --radius: 0.5rem;

    --system-ui:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --font-antonia-variable: "Antonia";
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-antonia), var(--system-ui);
}

@media screen and (max-width: 545px) {
    body {
        width: max-content;
    }
}

body {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-decoration: none;
    text-transform: none;
}

@keyframes accordion-down {
    0% {
        height: 0;
        overflow: hidden;
    }

    100% {
        height: var(--radix-accordion-content-height);
        overflow: visible;
    }
}

@keyframes accordion-up {
    0% {
        height: var(--radix-accordion-content-height);
        overflow: visible;
    }

    100% {
        height: 0;
        overflow: hidden;
    }
}

@font-face {
    font-family: "Lilex";
    src: url("/fonts/LilexVariable.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Antonia";
    src: url("/fonts/Antonia-400-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AntoniaBody";
    src: url("/fonts/AntoniaBody-400-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono-400-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono-400-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono-700-Regular.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CommitMono";
    src: url("/fonts/CommitMono-700-Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
