---
import MainLayout from '@/layouts/MainLayout.astro';
import { Button } from '@/components/ui/button';
---

<MainLayout title="404">
  <div class="my-24 flex flex-col items-center justify-center">
    <h1 class="text-center font-mplus text-2xl font-bold">
      Oops! The page you were looking for has gone on a spontaneous adventure
      and hasn't returned yet.
    </h1>
    <p class="text-md border-b-1 mt-4 border-solid px-4 pb-4">
      Please try a different path for now while we search for it.
    </p>
    <a href="/" class="flex items-center justify-center">
      <Button
        className="rounded-md !bg-red-500/0 !border-red-500 shadow shadow-red-500 text-md active:shadow-none"
        variant="outline"
        size="lg"
      >
        Take me home
      </Button>
    </a>
  </div>
</MainLayout>
