---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
  <div class="my-24 flex flex-col items-center justify-center">
    <h1 class="text-center font-mplus text-2xl font-bold">
      Oops! The page you were looking for has gone on a spontaneous adventure
      and hasn't returned yet.
    </h1>
    <p class="text-md border-b-1 mt-4 border-solid px-4 pb-4">
      Please try a different path for now while we search for it.
    </p>
    <a
      href="/"
      class="rounded-lg bg-teal-500 p-4 font-mplus font-normal leading-5 text-white outline-none transition-colors duration-500 hover:bg-teal-600"
    >
      Take me home
    </a>
  </div>
</Layout>
