---
import Layout from '../layouts/Layout.astro';
import avatar from '../assets/avatar.jpg';
import { ArrowSmallRightIcon } from '@heroicons/react/24/solid';
---

<Layout title="Home">
  <section class="flex flex-col items-start gap-6">
    <div class="mt-6 flex w-full flex-row items-center justify-around">
      <div class="flex flex-col">
        <span class="mb-1 font-mplus text-5xl font-bold">Alvaro Gaona</span>
        <p>Electrical Engineer / Developer / Researcher</p>
      </div>
      <img
        class="h-32 w-auto self-end rounded-full"
        alt="avatar"
        src={avatar.src}
        width={avatar.width}
        height={avatar.height}
      />
    </div>
    <div class="flex w-full flex-row justify-center">
      <span
        class="border-1 my-5 rounded-md bg-gray-800 px-12 py-4 font-mplus text-sm font-medium text-white dark:bg-gray-600"
      >
        Hi! I'm a Software Developer based in{' '}
        <a
          class="text-sky-300 underline underline-offset-4"
          href="https://en.wikipedia.org/wiki/Argentina"
        >
          Argentina
        </a>
        . 📍
      </span>
    </div>
  </section>
  <section class="flex flex-col items-start justify-start">
    <div class="mt-6 flex w-full flex-col gap-6">
      <span
        class="font-mplus text-xl font-bold underline underline-offset-[6px]"
        >Background</span
      >
      <p class="text-justify">
        I'm a passionate software engineer working for a cutting-edge machine
        learning company. My primary focus is on designing and developing
        high-performing and scalable machine learning services that are reliable
        and robust. In fact, I've been contributing to PyTorch, my favourite
        deep learning framework, since 2020, constantly improving it to make
        life easier for both users and developers alike.{' '}
        <a
          class="underline decoration-orange-300 underline-offset-4 hover:animate-pulse"
          href="https://github.com/pytorch/pytorch/search?q=is%3Apr+author%3Aalvgaona+author%3Aalvarogaona&type=issues"
        >
          Check them out!
        </a>
      </p>
      <p class="text-justify">
        Although I specialize in backend engineering, I also love exploring new
        front-end technologies and staying up to date with the latest trends.
        Recently, I've been reading up on the exciting React ecosystem, which I
        find quite fun and challenging.
      </p>
      <p class="text-justify">
        I'm also a proud creator of discord.cf, an innovative framework that
        enables anyone to build their own Discord bots on top of Cloudflare.
        Discover more about this game-changing tool!
        <br />
        <a
          href="https://github.com/discordcf/discordcf"
          class="mt-2 inline-flex flex-row items-center text-orange-500 underline underline-offset-4 hover:animate-pulse"
        >
          Learn more <ArrowSmallRightIcon
            className="ml-1 mt-1 self-center h-5 w-5"
          />
        </a>
      </p>
      <a
        href="/projects"
        class="border-1 justify-center self-center rounded-lg bg-teal-500 px-8 py-2 font-mplus font-medium text-white transition-colors duration-500 hover:bg-teal-600 hover:text-white"
      >
        View projects
      </a>
      <p class="text-justify">
        Aside from my software engineering skills, I'm also involved in exciting
        research projects. I have numerous interests and a few publications that
        you can explore at your leisure.
        <br />
        <a
          href="/publications"
          class="mt-2 inline-flex flex-row items-center text-orange-500 underline underline-offset-4 hover:animate-pulse"
        >
          Learn more <ArrowSmallRightIcon
            className="ml-1 mt-1 self-center h-5 w-5"
          />
        </a>
      </p>
    </div>
    <div class="mt-6 flex w-full flex-col">
      <span
        class="mb-4 font-mplus text-xl font-bold underline underline-offset-[6px]"
      >
        Free Time
      </span>
      <p class="text-justify">
        When I'm not busy coding or researching, I love to unwind with sports.
        Basketball and football are my go-to choices, but I'm also a huge
        Formula 1 fan. In fact, I enjoy keeping up with all the latest news and
        races!
      </p>
    </div>
    <div class="mt-6 flex w-full flex-col">
      <span
        class="mb-4 font-mplus text-xl font-bold underline underline-offset-[6px]"
      >
        Life Timeline
      </span>
      <div class="flex flex-row">
        <span class="mr-4 font-mplus font-medium">1991</span>
        Born in Buenos Aires, Argentina.
      </div>
      <div class="flex flex-row">
        <span class="mr-4 font-mplus font-medium">2015</span>
        Started my software engineering journey at Telecom.
      </div>
      <div class="flex flex-row">
        <span class="mr-4 font-mplus font-medium">2019</span>
        <span>
          Completed a Graduate Degree in Electrical Engineering at the{' '}
          <a
            href="https://www.fi.uba.ar/"
            class="underline decoration-orange-300 underline-offset-4 hover:animate-pulse"
          >
            Faculty of Engineering, Universidad de Buenos Aires.
          </a>
        </span>
      </div>
      <div class="flex flex-row items-center">
        <span class="mr-4 font-mplus font-medium">2019</span>
        Joined the Roche Sequencing team as a Senior Software Engineer.
      </div>
      <div class="flex flex-row items-center">
        <span class="mr-4 font-mplus font-medium">2022</span>
        Moved onto ASAPP as a Lead Software Engineer.
      </div>
    </div>
  </section>
</Layout>
