---
import Layout from '@/layouts/Layout.astro';
import avatar from '@/assets/avatar.jpg';
import roche from '@/assets/roche.svg';
import asapp from '@/assets/asapp.svg';
import argentina from '@/assets/argentina.png';
import telecom from '@/assets/telecom.svg';
import { ArrowSmallRightIcon } from '@heroicons/react/24/solid';
---

<Layout title="Home">
  <section class="flex flex-col items-start gap-6">
    <div class="mt-6 flex w-full flex-row items-center justify-around">
      <div class="flex flex-col">
        <span class="mb-1 font-mplus text-5xl font-bold">Alvaro Gaona</span>
        <p>Electrical Engineer / Researcher / Developer</p>
      </div>
      <img
        class="h-32 w-auto self-end rounded-full"
        alt="avatar"
        src={avatar.src}
        width={avatar.width}
        height={avatar.height}
      />
    </div>
    <div class="flex w-full flex-row justify-center">
      <span
        class="border-1 my-5 rounded-md px-12 py-4 text-sm font-medium text-white bg-slate-gray"
      >
        Hi! I'm a Robotics Engineer based in Argentina 📍
      </span>
    </div>
  </section>
  <section class="flex flex-col items-start justify-start">
    <div class="mt-6 flex w-full flex-col gap-6">
      <span
        class="font-mplus text-xl font-bold underline underline-offset-[6px] decoration-dusty-gray"
        >Background</span
      >
      <p class="text-justify">
        I have a strong interest in autonomous systems, particularly in the
        field of mobile robotics. The challenges presented by problems like
        perception, localization, navigation, control, and vehicle modeling
        deeply intrigue me. My enthusiasm lies in developing and researching
        novel algorithms tailored to tackle these issues. I enjoy putting these
        algorithms to the test within simulated environments to offer practical
        solutions for real-world problems. Additionally, I have a curiosity for
        exploring machine learning algorithms and their application in this
        context. On a related note, I take pride in being a contributor to the
        PyTorch library since 2020, where I've had the opportunity to contribute
        to its growth and development.{' '}
        <a
          class="underline decoration-liquid-lava underline-offset-4 hover:animate-pulse"
          href="https://github.com/pytorch/pytorch/search?q=is%3Apr+author%3Aalvgaona+author%3Aalvarogaona&type=issues"
        >
          Check my contributions.
        </a>
      </p>
      <p class="text-justify">
        While I specialize in autonomous systems, my background also extends to
        software engineering. I find particular enjoyment in working with
        front-end technologies and staying current with the latest trends. This
        knowledge allows me to effectively showcase my side projects within the
        community.
      </p>
      <a
        href="/projects"
        class="border-1 justify-center self-center rounded-lg dark:bg-teal-300 hover:animate-pulse bg-liquid-lava px-8 py-2 text-sm font-mplus text-white font-bold dark:text-dark-void transition-colors duration-500"
      >
        View projects
      </a>
      <p class="text-justify">
        Aside from my software engineering skills, I'm also involved in exciting
        research projects. I have numerous interests and a few publications that
        you can explore at your leisure.
        <br />
        <a
          href="/publications"
          class="mt-2 inline-flex flex-row items-center decoration-liquid-lava underline underline-offset-4 hover:animate-pulse"
        >
          Learn more <ArrowSmallRightIcon
            className="ml-1 mt-1 self-center h-5 w-5 text-liquid-lava"
          />
        </a>
      </p>
    </div>
    <div class="mt-6 flex w-full flex-col">
      <span
        class="mb-4 font-mplus text-xl font-bold underline underline-offset-[6px] decoration-dusty-gray"
      >
        Free Time
      </span>
      <p class="text-justify">
        When I'm not busy coding or researching, I love to unwind with sports.
        Basketball and football are my go-to choices, but I'm also a huge
        Formula 1 fan. In fact, I enjoy keeping up with all the latest news and
        races!
      </p>
    </div>
    <div class="mt-6 flex w-full flex-col">
      <span
        class="mb-4 font-mplus text-xl font-bold underline underline-offset-[6px] decoration-dusty-gray"
      >
        Life Timeline
      </span>
      <div class="flex flex-row gap-2">
        <span class="font-mplus font-medium">1991</span>
        Born in 
        <a href="https://maps.app.goo.gl/gF59GhC9XhGf7M6S7" class="underline decoration-liquid-lava underline-offset-4 hover:animate-pulse">
          Buenos Aires, Argentina
        </a>
      </div>
      <div class="flex flex-row gap-2">
        <span class="font-mplus font-medium">2015</span>
        Started my software engineering journey at 
        <a href="https://www.telecom.com.ar" class="underline decoration-liquid-lava underline-offset-4 hover:animate-pulse">
          Telecom Argentina
        </a>
      </div>
      <div class="flex flex-row gap-2">
        <span class="font-mplus font-medium">2019</span>
        <span>
          Completed a Graduate Degree in Electrical Engineering at the{' '}
          <a
            href="https://www.fi.uba.ar/"
            class="underline decoration-liquid-lava underline-offset-4 hover:animate-pulse"
          >
            Faculty of Engineering, Universidad de Buenos Aires.
          </a>
        </span>
      </div>
      <div class="flex flex-row items-center gap-2">
        <span class="font-mplus font-medium">2019</span>
        Joined the <a href="https://sequencing.roche.com/" class="underline decoration-liquid-lava underline-offset-4 hover:animate-pulse">Roche Sequencing</a> team as a Senior Software Engineer.
      </div>
      <div class="flex flex-row items-center gap-2">
        <span class="self-start font-mplus font-medium">2021</span>
        <div>
          Became part of the 
          <a href="https://udesa.edu.ar/linar" class="underline decoration-liquid-lava underline-offset-4 hover:animate-pulse">
            Laboratory of Robotics and Artificial Intelligence
          </a> at
          the Universidad de San Andrés.
        </div>
      </div>
      <div class="flex flex-row items-center gap-2">
        <span class="font-mplus font-medium">2022</span>
        Moved onto <a href="https://www.asapp.com/" class="underline decoration-liquid-lava underline-offset-4 hover:animate-pulse">ASAPP</a>
        as a Lead Machine Learning Engineer.
      </div>
    </div>
  </section>
</Layout>
