---
import { BsLink } from 'react-icons/bs';

export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<div class="mb-auto mr-1 cursor-pointer pt-2 opacity-0 hover:opacity-100 hover:transition hover:duration-200 hover:ease-in-out">
  <a href={href}>
    <BsLink />
  </a>
</div>
