---
import Layout from '@layouts/Layout.astro';
import Anchor from './Anchor.astro';
import Publication from './Publication.astro';
import researchgate from '@assets/researchgate.svg';
import googlescholar from '@assets/scholar.svg';
---

<Layout>
  <section class="flex flex-col items-start">
    <div class="mb-6 ml-4 mt-2 border-b border-solid pb-3 text-justify">
      <p class="pt-2">
        Research is a passion of mine, and I consider it a significant component
        of my life. I relish the challenge of discovering original solutions to
        complex problems, with a particular focus on the fascinating fields of
        Control Systems, Signal Processing, and Machine Learning.
      </p>
      <p class="pt-2">
        My journey into research began with my first publication in the field of
        signal processing for biomedical signals. I firmly believe that there is
        a wealth of untapped potential in applying learning algorithms within
        the biomedical universe. Not only can we continue to enhance our
        knowledge of the intricacies of the human body, but we can also empower
        healthcare experts with advanced tools and skills to revolutionize the
        industry.
      </p>
      <p class="pt-2">
        My deep-seated commitment to making a positive impact on the world fuels
        my drive to explore and harness the power of technology to achieve this
        goal. Whether it involves developing new algorithms or analyzing complex
        datasets using cutting-edge machine learning techniques, I am passionate
        about leveraging technology to improve people's lives.
      </p>
      <div class="flex flex-col font-mplus">
        <span class="my-4 font-bold underline underline-offset-4"
          >Research Profiles</span
        >
        <a
          href="https://www.researchgate.net/profile/Alvaro-Gaona"
          class="mr-auto gap-1 flex w-auto rounded-lg px-4 py-4 decoration-blue-700 hover:bg-zinc-200 hover:underline hover:underline-offset-4 dark:hover:bg-zinc-600"
        >
          <img
            src={googlescholar.src}
            class="mt-[2px] text-2xl [&>path]:fill-[#4285F4]"
            width="24"
            height="24"
          />
          <span class="ml-1 font-medium text-teal-500 dark:text-teal-300"
            >@alvaro-gaona</span
          >
        </a>
        <a
          href="https://scholar.google.com/citations?user=unBAfxAAAAAJ"
          class="mr-auto flex gap-1 rounded-lg px-4 py-4 decoration-blue-700 hover:bg-zinc-200 hover:underline hover:underline-offset-4 dark:hover:bg-zinc-600"
        >
          <img
            src={researchgate.src}
            class="mt-[2px] text-2xl [&>path]:fill-[#00CCBB]"
            width="24"
            height="24"
          />
          <span class="ml-1 font-medium text-teal-500 dark:text-teal-300"
            >@Alvaro-Gaona</span
          >
        </a>
      </div>
    </div>
    <div class="ml-4 flex flex-col gap-4">
      <div class="flex">
        <Anchor href="/publications#fault-tolerant-solutions-gtc22" />
        <Publication
          title="Fault Tolerant Solutions for Multirotor Unmanned Aerial Vehicles in NVIDIA® Jetson™ TX2"
          reference="Juan I. Giribet, Claudio Pose, Alvaro J. Gaona, José I. Gonzalez Etchemaite, Roberto Bunge, ”Fault Tolerant Solutions for Multirotor Unmanned Aerial Vehicles in NVIDIA® Jetson™ TX2”. NVIDIA GPU Technology Conference (2022)."
          href="https://www.nvidia.com/en-us/on-demand/session/gtcspring22-p42481/"
        />
      </div>

      <div class="flex">
        <Anchor href="/publications#prototyping-multirotor" />
        <Publication
          title="Prototyping of a multirotor UAV for precision landing under rotor failures"
          reference="A. J. Gaona, C. D. Pose, J. I. Giribet, R. Bunge, ”Prototyping of a multirotor UAV for precision landing under rotor failures”. Jornadas Argentinas de Robótica 2022 (JAR XI). Bariloche, Argentina"
          href="https://www.researchgate.net/publication/370604067_Prototyping_of_a_multirotor_UAV_for_precision_landing_under_rotor_failures#fullTextFileContent"
        />
      </div>

      <div class="flex">
        <Anchor href="/publication#heart-sounds-segmentation" />
        <Publication
          title="Deep Recurrent Learning for Heart Sound Segmentation based on Instantaneous Frequency Features"
          reference="A. J. Gaona, P. D. Arini, ”Deep Recurrent Learning for Heart Sounds Segmentation based on Instantaneous Frequency Features”. Revista Elektron, Vol. 4, No. 2, pp 52‑57 (2020)."
          href="http://elektron.fi.uba.ar/index.php/elektron/article/view/101/212"
        />
      </div>
    </div>
  </section>
</Layout>
