---
import MainLayout from '@/layouts/MainLayout.astro';
import Anchor from './Anchor.astro';
import Publication from './Publication.astro';
import researchgate from '@/assets/researchgate.svg';
import googlescholar from '@/assets/scholar.svg';
---

<MainLayout title="Publications | alvgaona">
  <section class="mt-8 flex flex-col items-start">
    <div class="ml-4 flex flex-col gap-4">
      <div class="flex">
        <Anchor href="/publications#fault-tolerant-solutions-gtc22" />
        <Publication
          title="Fault Tolerant Solutions for Multirotor Unmanned Aerial Vehicles in NVIDIA® Jetson™ TX2"
          reference="Juan I. Giribet, Claudio Pose, Alvaro J. Gaona, José I. Gonzalez Etchemaite, Roberto Bunge, ”Fault Tolerant Solutions for Multirotor Unmanned Aerial Vehicles in NVIDIA® Jetson™ TX2”. NVIDIA GPU Technology Conference (2022)."
          href="https://www.nvidia.com/en-us/on-demand/session/gtcspring22-p42481/"
        />
      </div>

      <div class="flex">
        <Anchor href="/publications#prototyping-multirotor" />
        <Publication
          title="Prototyping of a multirotor UAV for precision landing under rotor failures"
          reference="A. J. Gaona, C. D. Pose, J. I. Giribet, R. Bunge, ”Prototyping of a multirotor UAV for precision landing under rotor failures”. Jornadas Argentinas de Robótica 2022 (JAR XI). Bariloche, Argentina"
          href="https://www.researchgate.net/publication/370604067_Prototyping_of_a_multirotor_UAV_for_precision_landing_under_rotor_failures#fullTextFileContent"
        />
      </div>

      <div class="flex">
        <Anchor href="/publications#heart-sounds-segmentation" />
        <Publication
          title="Deep Recurrent Learning for Heart Sound Segmentation based on Instantaneous Frequency Features"
          reference="A. J. Gaona, P. D. Arini, ”Deep Recurrent Learning for Heart Sounds Segmentation based on Instantaneous Frequency Features”. Revista Elektron, Vol. 4, No. 2, pp 52‑57 (2020)."
          href="http://elektron.fi.uba.ar/index.php/elektron/article/view/101/212"
        />
      </div>
      <div class="mb-6 ml-4 mt-2 w-full pt-3 text-justify">
        <div class="font-dm-sans flex items-center justify-center gap-4">
          <a
            href="https://www.researchgate.net/profile/Alvaro-Gaona"
            class="rounded-full p-2 decoration-blue-700 hover:bg-zinc-200 hover:underline hover:underline-offset-4 dark:hover:bg-zinc-600"
          >
            <img
              src={googlescholar.src}
              class="mt-[2px] text-2xl [&>path]:fill-[#4285F4]"
              width="24"
              height="24"
            />
          </a>
          <a
            href="https://scholar.google.com/citations?user=unBAfxAAAAAJ"
            class="rounded-full p-2 decoration-blue-700 hover:bg-zinc-200 hover:underline hover:underline-offset-4 dark:hover:bg-zinc-600"
          >
            <img
              src={researchgate.src}
              class="mt-[2px] text-2xl [&>path]:fill-[#00CCBB]"
              width="24"
              height="24"
            />
          </a>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
