---
import { ArrowRightIcon } from '@heroicons/react/24/solid';

export interface Props {
	title: string;
  reference: string;
  href: string;
}

ArrowRightIcon

const { title, reference, href } = Astro.props;
---

<div class="flex flex-col">
  <p id="hss" class="text-b-gray-200 inline font-mplus text-2xl font-semibold">
    {title}
  </p>
  <p class="text-justify">{reference}</p>
  <a
    href={href}
    class="transform pt-4 underline underline-offset-4 transition duration-200 hover:translate-x-1"
  >
    <span class="flex gap-1 items-center">
      <ArrowRightIcon className="h-4 w-6" /> Go to
    </span>
  </a>
</div>
