---
const { frontmatter, slug, url } = Astro.props;
---

<a href={`/posts/${slug}/`}>
  <li>
    <div
      class="grid grid-cols-3 rounded-lg p-4 hover:bg-zinc-100 hover:dark:bg-zinc-800"
    >
      <span class="grid-col-1">{frontmatter.title}</span>
      <span class="grid-col-1 font-thin dark:text-zinc-300"
        >{frontmatter.category}</span
      >
      <span class="grid-col-1 font-thin dark:text-zinc-300">
        {
          frontmatter.pubDate.toLocaleString('default', {
            month: 'long',
            year: 'numeric',
            day: 'numeric',
          })
        }
      </span>
    </div>
    <li></li>
  </li></a
>
