---
const { frontmatter, slug } = Astro.props;
---

<li>
    <div class="flex flex-col sm:flex-row sm:gap-4 text-base">
        <span class="text-sm sm:text-base opacity-70 sm:opacity-100 sm:w-28 shrink-0">
            {
                frontmatter.pubDate.toLocaleString("default", {
                    month: "short",
                    year: "numeric",
                    day: "numeric",
                })
            }
        </span>
        <a href={`/posts/${slug}/`}>
            <span class="break-normal hover:underline underline-offset-4">{frontmatter.title}</span>
        </a>
    </div>
</li>
