<div class="my-24 flex flex-col items-center justify-center">
  <h1 class="text-center font-mplus text-2xl font-bold">
    I'm building something amazing! Please excuse the dust as I work on the
    finishing touches.
  </h1>
  <p class="text-md border-b-1 mt-4 border-solid px-4 pb-4">
    I can't wait to share it with you soon. Stay tuned!
  </p>
  <a
    href="/"
    class="rounded-lg bg-teal-500 p-4 font-mplus font-normal leading-5 text-white outline-none transition-colors duration-500 hover:bg-teal-600"
  >
    Take me home
  </a>
</div>
