<footer class="pb-10">
  <div class="flex h-14 items-center justify-center self-center text-sm">
    <span>
      {`© ${new Date().getFullYear()} Alvaro Gaona.`} All rights reserved.
    </span>
  </div>
</footer>
