---
import ThemeToggle from '@/components/ThemeToggle';
import SocialLinks from '@/components/SocialLinks';
---

<header class="fixed z-10 top-4 left-4 right-4 bg-header-light/50 dark:bg-header-dark/70 backdrop-blur-sm shadow-sm rounded-lg">
    <nav class="flex items-center justify-between px-6 h-12">
        <SocialLinks client:idle />
        <ThemeToggle client:load />
    </nav>
</header>
