---
import Menu from '@/components/Menu';
import ThemeToggleButton from '@/components/ThemeToggleButton.astro';
import white_logo from '@/assets/alvgaona-logo-white-transparent.png';
import black_logo from '@/assets/alvgaona-logo-black-transparent.png';
---

<header class="fixed z-10 w-full shadow-md backdrop-blur-md">
  <div class="mx-auto max-w-2xl">
    <nav class="flex items-center justify-center px-6 text-base">
      <Menu />
    </nav>
  </div>
</header>
