<div
  class="prose py-12 text-[#f0f0f0]! prose-headings:text-[#f0f0f0] prose-headings:no-underline prose-h1:text-[40px] prose-p:text-justify prose-a:font-light prose-a:text-[#f0f0f0] prose-a:decoration-[#FFC799] prose-a:underline-offset-4 prose-img:rounded-xl"
>
  <slot />
</div>
