<div
  class="prose dark:prose-invert prose-headings:no-underline prose-h1:text-[40px] prose-h1:font-bold prose-p:text-justify prose-a:text-[#D1D5DB] prose-a:font-light prose-a:decoration-[#E76346] prose-a:underline-offset-4 prose-img:rounded-xl py-12"
>
  <slot />
</div>
