<div class="prose py-12">
    <slot />
</div>

<style is:global>
    .prose {
        font-family: var(--prose-font-family), "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 300;
    }

    .prose h1 h2 h3 h4 h5 h6 th {
        text-decoration-line: none;
    }

    .prose h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--prose-heading-font-family);
    }

    .prose h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 1.11111;
        margin: 0;
    }

    .prose code {
        font-family: "Lilex";
    }

    .prose p code {
        font-size: 16px;
    }

    .prose h2 {
        font-weight: 500;
        font-size: 1.875rem;
        margin-top: 2em;
        margin-bottom: 1em;
        line-height: 1.3333333;
        color: var(--prose-heading-color);
    }

    .prose h3 {
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 1.6em;
        margin-bottom: 0.6em;
        line-height: 1.6;
        color: var(--prose-heading-color);
    }

    .prose h5 {
        margin: 0;
    }

    .prose a {
        font-weight: 300;
        text-underline-offset: 4px;
        color: var(--color-spectral-blue);
        text-decoration-color: var(--prose-heading-color);
    }

    .prose a:hover {
        text-decoration: underline;
    }

    .prose blockquote {
        font-weight: 500;
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        padding-inline-start: 1em;
        padding: 0.5rem 1rem;
        border-radius: 0.875rem;
        border-width: 1px;
    }

    .prose pre {
        font-weight: 400;
        font-size: 0.875em;
        line-height: 1.7142857;
        margin-top: 1.7142857em;
        margin-bottom: 1.7142857em;
        border-radius: 0.375rem;
        padding-top: 0.8571429em;
        padding-inline-end: 1.1428571em;
        padding-bottom: 0.8571429em;
        padding-inline-start: 1.1428571em;
        border-radius: 0.875rem;
    }

    .prose p {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        text-align: justify;
    }

    .prose ul {
        list-style-type: disc;
        padding-inline-start: 1.625em;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    .prose li {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .prose ol {
        list-style-type: decimal;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
        padding-inline-start: 1.625em;
    }

    .prose .katex-display {
        color: oklch(0 0 0 / 80%);
    }
</style>
