---
import { MoonIcon, SunIcon } from '@heroicons/react/24/solid';
---

<div class="inline-flex items-center rounded-3xl bg-orange-200 p-[1px] dark:bg-zinc-600">
  <button
    id="theme-btn"
    arial-label="auto"
    class="flex items-center"
  >
    <div class="cursor-pointer rounded-3xl bg-white dark:bg-zinc-600 p-2 text-black dark:text-white">
      <SunIcon className="h-5 w-5" />
    </div>
    <div class="cursor-pointer rounded-3xl dark:bg-white p-2 text-black">
      <MoonIcon className="h-5 w-5" />
    </div>
  </button>
</div>
