---
import MainLayout from '@/layouts/MainLayout.astro';
import ComingSoon from '@/components/ComingSoon.astro';
import { Separator } from '@/components/ui/separator';

const allProjects = [];
---

<MainLayout title="Projects | alvgaona">
  <div class="mt-4 flex flex-col gap-12">
    <div class="flex items-center justify-between">
      <span class="text-[24px]">Projects</span>
    </div>
    <div class="flex flex-wrap justify-between gap-4">
    <p>
      In this page, I many of the projects I've worked in my career.
      I'm only posting the ones I feel proud of, and the ones that are still
      relevant nowadays.
    </p>
    <Separator/>
    </div>
  </div>
</MainLayout>
