@use 'prismjs';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: none;
  font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
  color: #4e4c4b;
}

.btn {
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
  text-decoration: none;
  display: flex;
  width: 24rem;
  padding: .33rem 2rem;
  color: #fff;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 56px;
  border: none;
  background: #3d7c7d;
  position: relative;

  &:active {
    background: #999999;
  }
}

.form-group {
  outline: none;
  position: relative;
  width: 100%;
  min-height: 1px;
  flex: 0 0 100%;
  padding-bottom: 1.5rem;
  max-width: 384px;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  left: .5rem;
  padding: 0 .25rem;
  transition: all .2s;
  transform: translateY(1rem) scale(1);
  transform-origin: top left;
  border-radius: .25rem;
  color: #6d6d6d;
  cursor: text;

  &.has-focus, &.has-value, &:focus {
    transform: translateY(-.5rem) scale(.75);
    background-color: white;
    opacity: 1;
    z-index: 13;
  }
}

.meta-bg-wrapper-prime {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  margin-bottom: 40px;
  padding: 10px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  width: 400px;
  list-style-type: none;

  & > div {
    margin-bottom: 10px;
  }

  a {
    color: #333333;
    text-decoration: none;
  }
}

.blog-paragraph {
  margin: 4rem 18rem;
  font-family: DINNextLTPro, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;

  p, ul {
    margin-bottom: 2rem;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
  
  a {
    color: #0ca597;
    text-decoration: none;

    &:hover {
      color: #999999;
    }
  }

  h2 {
    color: black;
    line-height: 2rem;
    font-size: 2rem;
    margin-bottom: 1.3rem;
  }

  strong {
    font-weight: 500;
  }
}

.nav-item {
  align-items: center;
  display: inline-flex;
  margin: 0;
  position: relative;
  cursor: pointer;
  height: 100%;

  & > a {
    height: 60px;
    margin: 0 14px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    text-decoration: none;
    box-sizing: content-box;
    font-size: 12px;
    font-family: Helvetica Now,Helvetica,Arial,sans-serif;
    letter-spacing: 0.98px;
    line-height: 1.125rem;
    text-transform: none;
    font-weight: 400;
    padding: 0;
    align-items: center;
    display: inline-flex;
    transition: color .2s;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
  }
}

.header-nav {
  margin-left: 18px;
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  overflow-y: auto;
  vertical-align: top;
  transition: flex 0.2s, margin 0.2s, width 0.2s;
  width: 1425px;
  height: 100%;

  nav {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 13px;
    flex: 1 1 auto;
    display: inline-flex;

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: 0;
      margin: 0;
      align-self: center;
      width: 100%;
      height: 100%;
      max-height: 580px;

      li {
        align-items: center;
        display: inline-flex;
        margin: 0;
        position: relative;
        cursor: pointer;
        height: 100%;

        & > a {
          height: 93%;
          margin: 0 7px;
          border-bottom: 2px solid transparent;
          border-top: 2px solid transparent;
          text-decoration: none;
          color: black;
          box-sizing: content-box;
          font-size: 12px;
          font-family: "Helvetica Now",Helvetica,Arial,sans-serif;
          letter-spacing: 0.98px;
          line-height: 1.125rem;
          text-transform: none;
          font-weight: 400;
          padding: 0;
          align-items: center;
          display: inline-flex;
          transition: color .2s;
          outline: 0;
          cursor: pointer;
          white-space: nowrap;

          &:hover {
            color: #4e4e4e;
          }
        }
      }
    }
  }
}

.card-figure {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin: 1rem;
  width: 24rem;
  height: auto;
}

.card-btn {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  min-height: 3.5rem;
  text-decoration: none;
  width: 10rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-color: #333333;
  letter-spacing: 1.2px;
  cursor: pointer;
  background-color: #f8f1e8;
  color: #333333;

  &:hover {
    color: #f8f1E8;
    background-color: #333333;
    border-width: 1px;
    border-style: solid;
    border-color: #f8f1E8
  }
}

.site-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
}

.layout {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.site-header {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
  background: white;
  top: 0;
  z-index: 10005;
  position: relative;
  width: 100%;
  height: auto;
}

.lite-header {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12);
  background: white;
  top: 0;
  position: sticky;
  width: 100%;
  height: auto;
  align-self: flex-start;
}

.lite-header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-left: 24px;
  padding-right: 24px;

  .title-wrapper {
    margin: auto 0 auto auto;
    display: flex;
    flex: 0 0 auto;
    height: 36px;
    width: auto;
    align-self: center;

    span {
      display: flex;
      width: auto;
      height: auto;
      margin: auto;
      font-weight: 500;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }

  .lite-header-nav {
    margin-left: 18px;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    overflow-y: auto;
    vertical-align: top;
    transition: flex 0.2s, margin 0.2s, width 0.2s;
    width: 1425px;
    height: auto;
  }
}

.blog-nav-item {
  height: 3.75rem;
  margin: 0 0.875rem;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  text-decoration: none;
  box-sizing: content-box;
  letter-spacing: 0.98px;
  font-weight: 400;
  padding: 0;
  align-items: center;
  display: inline-flex;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
}


.site-footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: auto;

  .styled-ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    margin: 15px 0;
    justify-content: space-evenly;
    align-self: center;
    max-width: 1536px;

    h4 {
      margin: 0 0 10px 0;
      font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: 0.03rem;
      text-transform: none;
      line-height: 16.8px;
    }

    .styled-li {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 0;
      padding: 15px 24px;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.28px;
      height: auto;
      width: auto;
      align-items: center;

      a {
        text-decoration: none;
      }

      .link-box-item {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        color: #333;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.3125rem;
        padding: .3125rem 0;

        &:hover {
          color: black;
        }

        svg {
          width: 15px;
          margin-left: 5px;
          height: 15px;
        }
      }
    }
  }
}

.sub-footer-align {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  width: auto;
}

.site-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.site-external-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  height: auto;

  svg {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
  }

  svg#github {
    font-size: 27px;
  }

  path {
    fill: #5f6368;
  }

  &:hover {
    path {
      fill: black;
    }
  }
}

div .copyright-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  width: auto;
  height: 73px;
  margin: 0;
}

div .copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #6d6d6d;
}

.tab {
  align-items: center;
  display: inline-flex;
  margin: 0;
  position: relative;
  height: 100%;
}

.latest-posts {
  display: grid;
  grid-template-rows: auto;
  height: auto;
  width: auto;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 400px 400px 400px 400px;
  }
}

.latest-fig {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 384px;
}

.latest-fig-caption {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5rem auto;
  height: auto;
  padding: 0.625rem;
  background-color: #f8f1e8;

  h2 {
    font-family: "Helvetica Now", sans-serif;
  }
}

.meta-bg-wrapper {
  display: flex;
  align-items: center;
  margin: 50px 35px;
  padding: 20px;
  height: 100%;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 400;
}

.all-bg-title {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin: 50px 35px;
  padding: 20px;
  height: 100%;
  width: 100%;
  font-size: 56px;
  font-weight: 400;
}

.active {
  border-bottom-color: black !important;
  color: black !important;
}

.active-inverted {
  border-bottom-color: white !important;
  color: white !important;
}

.active-noir {
  border-bottom-color: #f98888 !important;
  color: #f98888 !important;
}

.blog-post {
  display: grid;
  grid-template-columns: 12rem 40rem;
}

.blog-post-header {
    font-family: DINNextLTPro, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 10rem;
    padding-bottom: 2rem;
    border-bottom-width: 1px;
    color: black;

  p {
    font-size: 1rem;
    line-height: 100%;
    font-weight: 400;
    margin: 0 0 18px;
    text-transform: uppercase;
    justify-self: flex-start;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 100%;
    font-weight: 400;
    height: auto;
  }
}

.layout-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 80px 0 50px 0;
  margin: 0 auto;
  max-width: 840px;
  position: relative;

  h2 {
    text-align: center;
    font-family: Helvetica Now,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #4e4e4e;
  }
}

.layout-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: auto;
  margin: 2rem 27rem;
  padding: 2rem;
}

.project-container {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.publications {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: auto;
  border-left-width: 0.0625rem;
  border-style: solid;
  margin: 2rem 0;
  padding: 2rem 18rem 2rem 15rem;
}

.helvetica-now-bold {
  font-family: "Helvetica Now", sans-serif;
}

.profile-pic {
  border-radius: 40rem;
  margin-left: 2.5rem;
  width: auto;
  height: 250px;
}

.my-link {
  text-decoration: underline;
  cursor: pointer;
  text-underline-offset: 0.2rem;

  &:hover {
    color: black;
  }
}

.anchor {
  padding-top: 0.5rem;
  margin-bottom: auto;
  margin-right: 0.25rem;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out .0s;
  }
}

.title {
  font-family: "Helvetica Now", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: black;
}

.show-subtitle {
  font-family: "Loved by the King", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.125rem;
  color: black;
}

.show-btn {
  outline: none;
  display: flex;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  text-decoration: none;
  width: 10rem;
  color: #fff;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 3.5rem;
  border: none;
  background: #000000;
  position: relative;

  &:hover {
    background: #999999;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
  }
}
  
.background-image {
  height: 100%;
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;

  &.background-image-size {
    width: 40%;
  }

  @media only screen and (min-width: 992px) {
    min-height: 700px;
  }
}

// flex flex-row items-start m-10
.section {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 0;
  margin-bottom: 5rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;

  &.meta-projects {
    align-items: center;
    justify-content: center;
  }
}
