---
import Layout from '@/layouts/Layout.astro';
import { cn } from '@/lib/utils';

const { className = 'max-w-2xl', ...props } = Astro.props;
---

<Layout meta={props.meta}>
  <main
    class={cn(
      'pt-14 mx-auto max-w-2xl px-8 pb-12 relative',
      className,
    )}
  >
    <slot />
  </main>
</Layout>
