---
import Layout from '@/layouts/Layout.astro';
import { cn } from '@/lib/utils';

const { className = 'max-w-2xl', title, description } = Astro.props;
---

<Layout meta={{ title, description }}>
  <main
    class={cn(
      'pt-[56px] mx-auto max-w-2xl px-8 pb-12 relative font-cmono',
      className,
    )}
  >
    <slot />
  </main>
</Layout>
