---
import Layout from '@/layouts/Layout.astro';
import { cn } from '@/lib/utils';

const {
  className = 'max-w-2xl',
  title,
}: { className?: string; title: string } = Astro.props;
---

<Layout pageTitle={title}>
  <main class={cn('pt-[56px] mx-auto max-w-2xl px-8', className)}>
    <slot />
  </main>
</Layout>
