---
import Layout from '@/layouts/Layout.astro';
import { cn } from '@/lib/utils';

const { className = 'max-w-2xl', title, description } = Astro.props;
---

<Layout meta={{ title, description }}>
  <ul class="mr-4 mt-2 flex justify-end gap-2 text-xs">
    <li>
      <a
        href="https://github.com/alvgaona"
        class="decoration-vesper-gold underline-offset-4 hover:underline"
        >Github</a
      >
    </li>
    <li>•</li>
    <li>
      <a
        href="https://www.instagram.com/alvgaona/"
        class="decoration-vesper-gold underline-offset-4 hover:underline"
        >Instagram</a
      >
    </li>
    <li>•</li>
    <li>
      <a
        href="https://x.com/alvgaona"
        class="decoration-vesper-gold underline-offset-4 hover:underline">X</a
      >
    </li>
    <li>•</li>
    <li>
      <a
        href="https://scholar.google.com/citations?user=unBAfxAAAAAJ"
        class="decoration-vesper-gold underline-offset-4 hover:underline"
        >Google Scholar</a
      >
    </li>
    <li>•</li>
    <li>
      <a
        href="https://linkedin.com/in/alvaro-gaona"
        class="decoration-vesper-gold underline-offset-4 hover:underline"
        >LinkedIn</a
      >
    </li>
  </ul>
  <main
    class={cn(
      'pt-[56px] mx-auto max-w-2xl px-8 pb-12 relative font-cmono',
      className,
    )}
  >
    <slot />
  </main>
</Layout>
