---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout
  meta={{
    title: `Blog • ${frontmatter.title}`,
    ogImage: frontmatter.ogImage,
    description: frontmatter.description,
    articleDate: frontmatter.pubDate.toISOString(),
  }}
>
  <main class="mx-auto max-w-4xl pb-12 pt-[56px]">
    <div class="mt-4 flex items-center justify-between">
      <div class="breadcrumbs text-sm">
        <ul>
          <li><a href="/">Home</a></li>
          <li>{frontmatter.title}</li>
        </ul>
      </div>
      <span class="text-[14px] font-thin">
        Published on
        {
          frontmatter.pubDate.toLocaleString('default', {
            month: 'long',
            year: 'numeric',
            day: 'numeric',
          })
        }
      </span>
    </div>
    <article class="mx-auto max-w-2xl px-8">
      <slot />
    </article>
  </main>
</Layout>
